<!--this is header-->
<header>
  <div>
    <h1>Login / Register</h1>
    <a routerLink="/">Home</a> - <a routerLink="/login-logister">Login/Register</a>
  </div>
</header>
<section class="login">
  <div class="new">
    <h3>New to our website?</h3>
    <p>
      There are advances being made in science and technology everyday, and a
      good example of this is the
    </p>
    <a routerLink="/logister">Create an Account</a>
  </div>
  <div class="form">
    <h4>LOG IN TO ENTER</h4>
    <form action="">
      <div class="div1">
        <input type="text" name="user name" placeholder="Username" />
      </div>
      <div class="div1">
        <input type="pass" name="password" placeholder="Password" />
      </div>
      <div class="div2">
        <input type="checkbox" name="keep me logged in" id="keep" />
        <label for="keep">Keep me logged in</label>
      </div>
      <div class="div3">
        <input type="submit" name="log in" value="Log In" />
      </div>
    </form>
    <p>Forgot Password?</p>
  </div>
</section>
