<!--this is header-->
<header>
  <div>
    <h1>Login / Register</h1>
    <a routerLink="/">Home</a> -
    <a routerLink="/login-logister">Login/Register</a>
  </div>
</header>
<section class="login">
  <div class="new">
    <h3>New to our website?</h3>
    <p>
      There are advances being made in science and technology everyday, and a
      good example of this is the
    </p>
    <a routerLink="/logister">Create an Account</a>
  </div>
  <div class="form">
    <h4>LOG IN TO ENTER</h4>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="div1">
        <input
          type="text"
          name="username"
          placeholder="Username"
          ngModel
          #username="ngModel"
          required
        />
        <div *ngIf="username.invalid && username.touched" class="error">
          <div *ngIf="username.errors?.['required']">Username is required.</div>
        </div>
      </div>
      <div class="div1">
        <input
          type="password"
          name="password"
          placeholder="Password"
          ngModel
          #password="ngModel"
          required
          minlength="6"
        />
        <div *ngIf="password.invalid && password.touched" class="error">
          <div *ngIf="password.errors?.['required']">Password is required.</div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 6 characters long.
          </div>
        </div>
      </div>
      <div class="div2">
        <input type="checkbox" name="keepMeLoggedIn" id="keep" ngModel />
        <label for="keep">Keep me logged in</label>
      </div>
      <div class="div3">
        <input
          type="submit"
          name="logIn"
          value="Log In"
          [disabled]="loginForm.invalid"
        />
      </div>
    </form>
    <p>Forgot Password?</p>
  </div>
</section>
