<!--this is header-->
<header>
  <div>
    <h1>Shop Category</h1>
    <a href="page1.html">Home</a> - <a href="page2.html">Shop Category</a>
  </div>
</header>
<!--this is body-->
<section class="body">
  <!--this is forms-->
  <section class="forms">
    <section class="firstform">
      <h3>Browse Categories</h3>
      <form>
        <div class="mt-3">
          <input type="radio" name="Browse Categories" value="men" id="m" />
          <label for="m">Men (3600)</label>
        </div>
        <div>
          <input type="radio" name="Browse Categories" value="women" id="w" />
          <label for="w">Women (3600)</label>
        </div>
        <div>
          <input
            type="radio"
            name="Browse Categories"
            value="accessories"
            id="a"
          />
          <label for="a">Accessories (3600)</label>
        </div>
        <div>
          <input
            type="radio"
            name="Browse Categories"
            value="footwear"
            id="f"
          />
          <label for="f">Footwear (3600)</label>
        </div>
        <div>
          <input
            type="radio"
            name="Browse Categories"
            value="bay item"
            id="b"
          />
          <label for="b">Bay item (3600)</label>
        </div>
        <div>
          <input
            type="radio"
            name="Browse Categories"
            value="electronics"
            id="e"
          />
          <label for="e">Electronics (3600)</label>
        </div>
        <div>
          <input type="radio" name="Browse Categories" value="food" id="o" />
          <label for="o">Food (3600)</label>
        </div>
      </form>
    </section>
    <section class="secondform">
      <h3>Product Filters</h3>
      <div class="brands">
        <p>Brands</p>
        <form>
          <div>
            <input type="radio" name="Brand" id="ab" />
            <label for="ab">Apple (29)</label>
          </div>
          <div>
            <input type="radio" name="Brand" id="as" />
            <label for="as">Asus (29)</label>
          </div>
          <div>
            <input type="radio" name="Brand" id="gi" />
            <label for="gi">Gionee (19)</label>
          </div>
          <div>
            <input type="radio" name="Brand" id="mi" />
            <label for="mi">Micromax (19)</label>
          </div>
          <div>
            <input type="radio" name="Brand" id="sa" />
            <label for="sa">Samsung (19)</label>
          </div>
        </form>
      </div>
      <div class="color">
        <p>Color</p>
        <form>
          <div>
            <input type="radio" name="color" id="black" />
            <label for="black">Black (29)</label>
          </div>
          <div>
            <input type="radio" name="color" id="leather" />
            <label for="leather">Black Leather (29)</label>
          </div>
          <div>
            <input type="radio" name="color" id="red" />
            <label for="red">Black with red (19)</label>
          </div>
          <div>
            <input type="radio" name="color" id="gold" />
            <label for="gold">Gold (19)</label>
          </div>
          <div>
            <input type="radio" name="color" id="space" />
            <label for="space">Spacegrey (19)</label>
          </div>
        </form>
      </div>
      <div class="price">
        <p>Price</p>
        <form>
          <div>
            <input type="range" value="500" min="500" max="5000" step="500" />
            <input type="range" value="500" min="500" max="5000" step="500" />
          </div>
          <label for="price-range" class="no">Price: $500.00 to $4000.00</label>
        </form>
      </div>
    </section>
  </section>
  <!--this is products-->
  <section class="products">
    <div class="select">
      <div>
        <select name="sorting" class="sort">
          <option value="Default sorting">Default sorting</option>
        </select>
        <select name="show" class="show">
          <option value="Show 12">Show 12</option>
        </select>
      </div>
      <input type="search" name="search" placeholder="Search" />
    </div>
    <div class="market">
      <div>
        <img src="images/product/product1.png" />
        <p>Accessories</p>
        <h3>Quartz Belt Watch</h3>
        <h4>$150.00</h4>
      </div>
      <div>
        <img src="images/product/product2.png" />
        <p>Beauty</p>
        <h3>Women Freshwash</h3>
        <h4>$150.00</h4>
      </div>
      <div>
        <img src="images/product/product3.png" />
        <p>Decor</p>
        <h3>Room Flash Light</h3>
        <h4>$150.00</h4>
      </div>
      <div>
        <img src="images/product/product4.png" />
        <p>Decor</p>
        <h3>Room Flash Light</h3>
        <h4>$150.00</h4>
      </div>
      <div>
        <img src="images/product/product5.png" />
        <p>Accessories</p>
        <h3>Man Office Bag</h3>
        <h4>$150.00</h4>
      </div>
      <div>
        <img src="images/product/product6.png" />
        <p>Kids Toy</p>
        <h3>Charging Car</h3>
        <h4>$150.00</h4>
      </div>
      <div>
        <img src="images/product/product7.png" />
        <p>Accessories</p>
        <h3>Blutooth Speaker</h3>
        <h4>$150.00</h4>
      </div>
      <div>
        <img src="images/product/product8.png" />
        <p>Kids Toy</p>
        <h3>Charging Car</h3>
        <h4>$150.00</h4>
      </div>
      <div>
        <img src="images/product/product1.png" />
        <p>Accessories</p>
        <h3>Quartz Belt Watch</h3>
        <h4>$150.00</h4>
      </div>
    </div>
  </section>
</section>
<!--this is a top product-->
<section class="top">
  <article>
    <p>Popular Item in the market</p>
    <h2>Top<span>Product</span></h2>
  </article>
  <section class="popular">
    <section class="items">
      <div class="pro1">
        <img src="images/product/product-sm-1.png" />
        <div>
          <h5>Gray Coffee Cup</h5>
          <p>$170.00</p>
        </div>
      </div>
      <div class="pro2">
        <img src="images/product/product-sm-2.png" />
        <div>
          <h5>Gray Coffee Cup</h5>
          <p>$170.00</p>
        </div>
      </div>
      <div class="pro3">
        <img src="images/product/product-sm-3.png" />
        <div>
          <h5>Gray Coffee Cup</h5>
          <p>$170.00</p>
        </div>
      </div>
    </section>
    <section class="items">
      <div class="pro1">
        <img src="images/product/product-sm-4.png" />
        <div>
          <h5>Gray Coffee Cup</h5>
          <p>$170.00</p>
        </div>
      </div>
      <div class="pro2">
        <img src="images/product/product-sm-5.png" />
        <div>
          <h5>Gray Coffee Cup</h5>
          <p>$170.00</p>
        </div>
      </div>
      <div class="pro3">
        <img src="images/product/product-sm-6.png" />
        <div>
          <h5>Gray Coffee Cup</h5>
          <p>$170.00</p>
        </div>
      </div>
    </section>
    <section class="items">
      <div class="pro1">
        <img src="images/product/product-sm-7.png" />
        <div>
          <h5>Gray Coffee Cup</h5>
          <p>$170.00</p>
        </div>
      </div>
      <div class="pro2">
        <img src="images/product/product-sm-8.png" />
        <div>
          <h5>Gray Coffee Cup</h5>
          <p>$170.00</p>
        </div>
      </div>
      <div class="pro3">
        <img src="images/product/product-sm-9.png" />
        <div>
          <h5>Gray Coffee Cup</h5>
          <p>$170.00</p>
        </div>
      </div>
    </section>
    <section class="items">
      <div class="pro1">
        <img src="images/product/product-sm-1.png" />
        <div>
          <h5>Gray Coffee Cup</h5>
          <p>$170.00</p>
        </div>
      </div>
      <div class="pro2">
        <img src="images/product/product-sm-2.png" />
        <div>
          <h5>Gray Coffee Cup</h5>
          <p>$170.00</p>
        </div>
      </div>
      <div class="pro3">
        <img src="images/product/product-sm-3.png" />
        <div>
          <h5>Gray Coffee Cup</h5>
          <p>$170.00</p>
        </div>
      </div>
    </section>
  </section>
</section>
<!--Update from anywhere-->
<section class="update d-md-block">
  <h2>GET UPDATE FROM ANYWHERE</h2>
  <p>Bearing Void gathering light his eavening unto dont afraid</p>
  <form action="" method="">
    <input type="email" name="email" placeholder="Enter your email" />
    <input type="submit" name="subscribe" value="Subscribe Now" />
  </form>
</section>
