<!--this is header-->
<header>
  <div class="div1">
    <img src="images/home/hero-banner.png" />
  </div>
  <div class="div2">
    <p>Shop is fun</p>
    <h1>BROWSE OUR</h1>
    <h1>PREMIUM PRODUCT</h1>
    <pre class="d-md-block">
Us which over of signs divide dominion deep fill bring they're meat beho
upon own earth without morning over third. Their male dry. They are great
appear whose land fly grass.</pre
    >
    <a routerLink="/shop-category">Browse Now</a>
  </div>
</header>
<!--gallery-->
<section class="gal">
  <img src="images/home/hero-slide1.png" alt="shoes" />
  <img src="images/home/hero-slide2.png" alt="headphones" />
  <img src="images/home/hero-slide3.png" alt="cubes" />
</section>
<!--this is trending product-->
<section class="trend mx-5 my-4">
  <div class="">
    <div class="header">
      <p>Popular Item in the market</p>
      <h1>Trending<span>Product</span></h1>
    </div>
    <div class="pro1">
      <div class=" ">
        <img src="images/product/product1.png" />
        <p>Accessories</p>
        <h3>Quartz Belt Watch</h3>
        <h4>$150.00</h4>
      </div>
      <div class=" ">
        <img src="images/product/product2.png" />
        <p>Beauty</p>
        <h3>Women Freshwash</h3>
        <h4>$150.00</h4>
      </div>
      <div class=" ">
        <img src="images/product/product3.png" />
        <p>Decor</p>
        <h3>Room Flash Light</h3>
        <h4>$150.00</h4>
      </div>
      <div class="">
        <img src="images/product/product4.png" />
        <p>Decor</p>
        <h3>Room Flash Light</h3>
        <h4>$150.00</h4>
      </div>
    </div>
    <div class="pro2">
      <div class="">
        <img src="images/product/product5.png" />
        <p>Accessories</p>
        <h3>Man Office Bag</h3>
        <h4>$150.00</h4>
      </div>
      <div class="">
        <img src="images/product/product6.png" />
        <p>Kids Toy</p>
        <h3>Charging Car</h3>
        <h4>$150.00</h4>
      </div>
      <div class="">
        <img src="images/product/product7.png" />
        <p>Accessories</p>
        <h3>Blutooth Speaker</h3>
        <h4>$150.00</h4>
      </div>
      <div class="">
        <img src="images/product/product8.png" />
        <p>Kids Toy</p>
        <h3>Charging Car</h3>
        <h4>$150.00</h4>
      </div>
    </div>
  </div>
</section>
<!--winter sale-->
<section class="sale">
  <div class="shop">
    <p class="up">Up To 50% Off</p>
    <p class="win">Winter Sale</p>
    <p class="him">Him she'd let them sixth saw light</p>
    <a routerLink="/shop-category">Shop Now</a>
  </div>
</section>
<!--Best Sellers-->
<section class="best">
  <div class="head">
    <h2>Best<span>Sellers</span></h2>
  </div>
  <!-- slider for best products -->
  <div class="slider my-5">
    <div class="slide">
      <img src="images/product/product1.png" alt="product 1" />
      <p>Accessories</p>
      <h3>Quartz Belt Watch</h3>
      <h4>$150.00</h4>
    </div>
    <div class="slide">
      <img src="images/product/product2.png" alt="product 2" />
      <p>Beauty</p>
      <h3>Women Freshwash</h3>
      <h4>$150.00</h4>
    </div>
    <div class="slide">
      <img src="images/product/product3.png" alt="product 3" />
      <p>Decor</p>
      <h3>Room Flash Light</h3>
      <h4>$150.00</h4>
    </div>
    <div class="slide">
      <img src="images/product/product4.png" alt="product 4" />
      <p>Accessories</p>
      <h3>Quartz Belt Watch</h3>
      <h4>$150.00</h4>
    </div>
    <div class="slide">
      <img src="images/product/product5.png" alt="product 5" />
      <p>Accessories</p>
      <h3>Quartz Belt Watch</h3>
      <h4>$150.00</h4>
    </div>
    <div class="slide">
      <img src="images/product/product6.png" alt="product 6" />
      <p>Cars</p>
      <h3>car Freshwash</h3>
      <h4>$15000</h4>
    </div>
    <div class="slide">
      <img src="images/product/product7.png" alt="product 7" />
      <p>Accessories</p>
      <h3>Quartz Belt Watch</h3>
      <h4>$150.00</h4>
    </div>
    <div class="slide">
      <img src="images/product/product8.png" alt="product 8" />
      <p>Accessories</p>
      <h3>Quartz Belt Watch</h3>
      <h4>$150.00</h4>
    </div>
  </div>
  <!-- second slider don’t work -->
  <!-- <i class="bi bi-arrow-left"></i>
  <div class="sell">
    <div>
      <img src="images/product/product1.png" />
      <p>Accessories</p>
      <h3>Quartz Belt Watch</h3>
      <h4>$150.00</h4>
    </div>
    <div>
      <img src="images/product/product2.png" />
      <p>Beauty</p>
      <h3>Women Freshwash</h3>
      <h4>$150.00</h4>
    </div>
    <div>
      <img src="images/product/product3.png" />
      <p>Decor</p>
      <h3>Room Flash Light</h3>
      <h4>$150.00</h4>
    </div>
    <div>
      <img src="images/product/product4.png" />
      <p>Decor</p>
      <h3>Room Flash Light</h3>
      <h4>$150.00</h4>
    </div>
  </div>
  <i class="bi bi-arrow-right"></i> -->
</section>
<!--Latest News-->
<section class="latest">
  <h2>Latest<span>News</span></h2>
  <div class="news">
    <div>
      <img src="images/blog/blog1.png" />
      <p>By Admin <i class="bi bi-chat-dots"></i> 5 comments</p>
      <h3>The Richland Center Shooping News and weekly shooper</h3>
      <p class="d-none d-md-block">
        Let one fifth i bring fly to divided face for bearing divide unto seed.
        Winged divided light Forth.
      </p>
      <button class="read_more_btn">
        Read More <i class="bi bi-arrow-right"></i>
      </button>
    </div>
    <div>
      <img src="images/blog/blog1.png" />
      <p>By Admin <i class="bi bi-chat-dots"></i> 2 comments</p>
      <h3>The Shopping News also offers top-quality Printing services</h3>
      <p class="d-none d-md-block">
        Let one fifth i bring fly to divided face for bearing divide unto seed.
        Winged divided light Forth.
      </p>
      <button class="read_more_btn">
        Read More <i class="bi bi-arrow-right"></i>
      </button>
    </div>
    <div>
      <img src="images/blog/blog1.png" />
      <p>By Admin <i class="bi bi-chat-dots"></i> 3 comments</p>
      <h3>
        Professional design staff and efficient equipment you'll find
      </h3>
      <p class="d-none d-md-block">
        Let one fifth i bring fly to divided face for bearing divide unto seed.
        Winged divided light Forth.
      </p>
      <button class="read_more_btn">
        Read More <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
</section>
<!--Update from anywhere-->
<section class="update d-md-block">
  <h2>GET UPDATE FROM ANYWHERE</h2>
  <p>Bearing Void gathering light his eavening unto dont afraid</p>
  <form action="" method="">
    <input type="email" name="email" placeholder="Enter your email" />
    <input type="submit" name="subscribe" value="Subscribe Now" />
  </form>
</section>