<!--footer: foot 1-->
<footer>
  <section class="foot1 d-lg-flex justify-content-around">
    <div class="d-flex justify-content-between col-lg-6">
      <div class="mission">
        <h2>Our Mission</h2>
        <p>
          So seed seed green that winged cattle in. Gathering thing made fly
          you're no divided deep moved us lan Gathering thing us land years
          living.
        </p>
        <p>
          So seed seed green that winged cattle in. Gathering thing made fly
          you're no divided deep moved
        </p>
      </div>
      
      <div class="quicklinks ms-md-5">
        <h3>Quick Links</h3>
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/shop-category">Shop</a></li>
          <li><a routerLink="/shopping-cart">Shopping Cart</a></li>
          <li><a routerLink="/our-blog">Blog</a></li>
          <li><a routerLink="/blog-details">Blog Details</a></li>
          <li><a routerLink="/contact-us">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-around col-lg-6 me-lg-0">
      <div class="gallery me-lg-5">
        <h3>Gallery</h3>
        <div class="products">
          <img src="images/r1.jpg" />
          <img src="images/r2.jpg" />
          <img src="images/r2.jpg" />
          <img src="images/r2.jpg" />
          <img src="images/r1.jpg" />
          <img src="images/r1.jpg" />
        </div>
      </div>
      <div class="contact ms-md-0">
        <h3>Contact Us</h3>
        <div class="ways">
          <div>
            <h4><i class="bi bi-geo-alt-fill"></i> Head Office</h4>
            <p>123, Main Street,</p>
            <p>Your City</p>
          </div>
          <div>
            <h4><i class="bi bi-telephone-fill"></i> Phone Number</h4>
            <p>+123 456 7890</p>
            <p>+123 456 7890</p>
          </div>
          <div>
            <h4><i class="bi bi-envelope-fill"></i> Email</h4>
            <p>free&#64;ex.com</p>
            <p>www.ex.com</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--footer: foot 2-->
  <section class="foot2">
    <p>
      Copyright &copy;2025 All rights reserved | This template is developed
      <i class="fa-solid fa-heart"></i> by <span> Ashraf Reda Radi & Abdelrazik Badr</span>
    </p>
  </section>
</footer>
